body{
  background-color: snow;
  color: black;
}

div{
    border: 1px solid black;
    padding: 9px;
    width: 230px;
    height: 19px;
    text-align: center;
   
    background-color: ghostwhite;
    
}

img{
    border: 1px solid black;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    
}

.blurrbotton{
    border: 0px solid black;
    border-radius: 23px;
}

.blog{
    position: absolute;
    width: 220px;
    height: 200px;
    left: 51;
    right: 1.07;
    top: 76%;
    bottom: 18.35;
}

